*.pyc
.*.swp

.coverage
tests/coverage-report.log

ChangeLog

po/*.gmo
po/*.po
po/python-simpleline.pot
po/POTFILES

tests/pylint/.pylint.d/
pylint-log

build/
dist/
simpleline.egg-info/

.directory

doc/_build
